In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2022-10-15 04:54:40,-34.4187,19.2345,58.80,87,100,18.05
1,1,Richards Bay,ZA,2022-10-15 05:02:11,-28.7830,32.0377,71.94,72,99,11.52
2,2,Albany,US,2022-10-15 04:54:29,42.6001,-73.9662,46.38,88,0,2.51
3,3,Vaini,TO,2022-10-15 04:54:24,-21.2000,-175.2000,80.76,78,20,10.36
4,4,Tuktoyaktuk,CA,2022-10-15 05:02:12,69.4541,-133.0374,28.42,76,100,20.51

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your google APi key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of WindSpeed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Vaini,TO,2022-10-15 04:54:24,-21.2000,-175.2000,80.76,78,20,10.36
6,6,Kaduqli,SD,2022-10-15 05:02:14,11.0167,29.7167,76.32,72,100,1.86
7,7,Georgetown,MY,2022-10-15 04:51:34,5.4112,100.3354,82.33,90,40,9.22
11,11,Mareeba,AU,2022-10-15 05:02:16,-17.0000,145.4333,89.44,49,15,10.16
12,12,Luanda,AO,2022-10-15 04:57:22,-8.8368,13.2343,77.00,78,75,6.91
14,14,Hithadhoo,MV,2022-10-15 04:54:23,-0.6000,73.0833,82.47,69,35,14.29
18,18,Hilo,US,2022-10-15 04:54:25,19.7297,-155.0900,81.28,93,49,5.01
27,27,Kavieng,PG,2022-10-15 04:57:24,-2.5744,150.7967,85.03,70,20,10.63
33,33,Cockburn Town,TC,2022-10-15 05:02:28,21.4612,-71.1419,82.20,75,94,15.68
35,35,Manadhoo,MV,2022-10-15 05:02:29,5.7667,73.3833,81.70,78,98,11.43

In [12]:
preferred_cities_df.count()

City_ID       165
City          165
Country       165
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [13]:
# Create dataFrame called hotel_df to store hotel names along with city,country,max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3           Vaini      TO     80.76 -21.2000 -175.2000
6         Kaduqli      SD     76.32  11.0167   29.7167
7      Georgetown      MY     82.33   5.4112  100.3354
11        Mareeba      AU     89.44 -17.0000  145.4333
12         Luanda      AO     77.00  -8.8368   13.2343
14      Hithadhoo      MV     82.47  -0.6000   73.0833
18           Hilo      US     81.28  19.7297 -155.0900
27        Kavieng      PG     85.03  -2.5744  150.7967
33  Cockburn Town      TC     82.20  21.4612  -71.1419
35       Manadhoo      MV     81.70   5.7667   73.3833

In [16]:
# Set parameters to search for a hotel
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found....skipping.")

Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
6,Kaduqli,SD,76.32,11.0167,29.7167,Nussyba
7,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang
11,Mareeba,AU,89.44,-17.0000,145.4333,Trinity Plains Tourist Park
12,Luanda,AO,77.00,-8.8368,13.2343,EPIC SANA Luanda
14,Hithadhoo,MV,82.47,-0.6000,73.0833,Scoop Guest House
18,Hilo,US,81.28,19.7297,-155.0900,Hilo Hawaiian Hotel
27,Kavieng,PG,85.03,-2.5744,150.7967,Nusa Island Retreat
33,Cockburn Town,TC,82.20,21.4612,-71.1419,Osprey Beach Hotel
35,Manadhoo,MV,81.70,5.7667,73.3833,Bon Abri maldives

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
#marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
#fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots.
import collections
collections.Iterable = collections.abc.Iterable

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig = gmaps.figure()
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temo</dt><dd>{Max Temp} F</dd>
</dl>
"""

In [23]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
info_box_content=hotel_info

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))